@import model.Race

@(races: List[Race], requests: Int)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Knowledge is Power!!</h1>
        <div>Requests: @requests</div>
        <div>
            <ul>
            @races.map { race =>
            <li>@race.raceType Election in @race.state</li>
                }
            </ul>
        </div>
    </body>
</html>
