@import model.Race

@(races: List[Race], requests: Int)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="login-box auth0-box before">
            <img src="https://i.cloudup.com/StzWWrY34s.png" />
            <h3>Auth0 Example</h3>
            <p>Zero friction identity infrastructure, built for developers</p>
            <a class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
        </div>
        <h1>Knowledge is Power!!</h1>
        <div>Requests: @requests</div>
        <div>
            <ul>
            @races.map { race =>
                <li>
                    <a href='@routes.Application.raceView(race.id)'>@race.raceType Election in @race.state</a>
                </li>
                }
            </ul>
        </div>
    </body>
</html>
